<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>D3 Project CSE564</title>
    <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.6/d3.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="./static/lib/js/jquery.csv.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
	  <script src="https://d3js.org/d3-axis.v1.min.js"></script>
    <link rel="stylesheet" href="./static/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
    <link rel="stylesheet" href="./static/lib/css/dc.css">
    <link rel="stylesheet" href="./static/css/custom.css">
  </head>
  <style>
    body {
      font: 11px sans-serif;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
  </style>
  <body>
    <h1><b>Visual Data Analytics - Analysis of Fatal Road Accidents from 1998-2010<b></h1>
      <div class='row' style="padding-left:20px">
        <button><a href="javascript:dc.filterAll(); dc.renderAll();"><h5>Reset All<h5></a></button>
        <button><a href="/parallel"><h5>Parallel Coordinates<h5></a></button>
        <button><a href="/analysis"><h5>Analysis Plots<h5></a></button>
      </div>
      <div class="row">
        <div class="col-sm-7">
          <div class="row">

          <div class="col-sm-9">
          <div class="chart-wrapper">
            <div class="chart-title">
              <b>Number of Accidents over the Years<b>
            </div>
            <div class="chart-stage">
              <div id="time-chart"></div>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="chart-wrapper">
            <div class="chart-title">
              <b>Total Accidents<b>
            </div>
            <div class="chart-stage">
              <div id="total-accidents-nd"></div>
            </div>
          </div>
          <div class="chart-wrapper">
            <div class="chart-title">
              <b>Total Deaths<b>
            </div>
            <div class="chart-stage">
              <div id="total-deaths-nd"></div>
            </div>
          </div>
        </div>

        </div>
        <div class="row">

          <div class="col-sm-6">
          <div class="chart-wrapper">
            <div class="chart-title">
              <b>Number of Accidents by Car Model Years<b>
            </div>
            <div class="chart-stage">
              <div id="mod-chart"></div>
            </div>
          </div>
        </div>

          <div class="col-sm-6">
          <div class="chart-wrapper">
            <div class="chart-title">
              <b>Number of Accidents by Age<b>
            </div>
            <div class="chart-stage">
              <div id="age-chart"></div>
            </div>
          </div>
          </div>

        </div>
      </div>

        <div class="col-sm-5">
          <div class="chart-wrapper">
            <div class="chart-title">
              <b>Distribution of Accidents<b>
            </div>
            <div class="chart-stage">
              <div id="us-chart"></div>
            </div>
          </div>
        </div>
    </div>

    <div class="row">

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <div class="chart-title">
            <b>Restraint types<b>
          </div>
          <div class="chart-stage">
            <div id="restraint-chart"></div>
          </div>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <div class="chart-title">
            <b>Airbag Location/Deployment<b>
          </div>
          <div class="chart-stage">
            <div id="airbag-chart"></div>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
      <div class="chart-wrapper">
        <div class="chart-title">
          <b>Number of Accidents by Sex<b>
        </div>
        <div class="chart-stage">
          <div id="sex-chart"></div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="chart-wrapper">
        <div class="chart-title">
          <b>Injury Severity Spread<b>
        </div>
        <div class="chart-stage">
          <div id="injury-chart"></div>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="chart-wrapper">
        <div class="chart-title">
          <b>Impact Locations<b>
        </div>
        <div class="chart-stage">
          <div id="impact-chart"></div>
        </div>
      </div>
    </div>

    </div>
    <script src="./static/lib/js/jquery.min.js"></script>
    <script src="./static/lib/js/bootstrap.min.js"></script>
    <script src="./static/lib/js/crossfilter.js"></script>
    <script src="./static/lib/js/dc.js"></script>
    <script src="./static/lib/js/queue.js"></script>
    <script type="text/javascript" src="./static/js/graph.js"></script>
  </body>
</html>
