<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Concentric circles"/>
    <title>Concentric circles</title>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <style> 
    
    
    path { 
        stroke: steelblue;
        stroke-width: 2;
        fill: none;
    }
    
    div.tooltip {	
        position: absolute; 
        text-align: center;   
        width: 150px;     
        height: 30px;     
        padding: 2px;    
        font: 12px sans-serif;  
        background: lightsteelblue; 
        border: 0px;  
        border-radius: 8px;   
        pointer-events: none;   
    }
    
    </style>
  </head>
  <body>
    <svg width="960" height="960">
    </svg>
  </body>
    <script type="text/javascript" src="inimpact.js"></script>
</html>
